*{
  background-color: rgba(0, 0, 0, 0.1);
}

.container{
  width: 350px;
  margin: auto;
}

.add-employee-form{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  gap: 10px;
}

.add-employee-form label{
  display: flex;
  justify-content: space-between;
}

.add-employee-form input{
  width: 200px;
}

.add-employee-form button{
  width: 100px;
  margin-left: auto;
}

.employees-container{
  padding: 20px;
  margin-top: 20px;
}